[user]
	name = Todd Gamblin
	email = tgamblin@llnl.gov

[merge]
	tool = opendiff

[color]
	ui = auto

[core]
	excludesfile = /Users/gamblin2/.gitignore_global

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    st = status
    ci = commit
    unadd = reset HEAD

[push]
	default = simple

[credential]
	helper = cache --timeout=43200

[http]
	postBuffer = 524288000

[difftool]
	prompt = false
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
